<h1> NEW TAG </h1>

<!--helper tool  #form with is helper tool inbuild in
#ruby 6.0+ 
#form is a partial and helps to reduce duplication
#edit and new have same fields
#local true doesnt create AJAx call
#it refreshes the page and normally sends the data
# forms create the variable "params" and all the form vairable are stored in it

-->
<%= form_with(model: tag, local:true) do |form| %>
    <% if @tag.errors.any? %>
        <div id="error">
            <h2>
                <%= pluralize(tag.errors.count,"error") %> occured!
            </h2>
            <ul>
                <% tag.errors.full_messages.each do |message| %>
                <li><%=message %></li>    
                <% end %>
            </ul>
        </div>
    <% end %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to "Back", tags_path %> 